/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  padding: 3rem 1rem;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  text-align: left;
  line-height: 1.8;
}

.section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.section ul {
  list-style: none;
  padding-left: 0;
}

.section ul li::before {
  content: "• ";
  color: #5c5c5c;
  font-weight: bold;
  margin-right: 0.3em;
}
